.btn {
  text-align: center;
  border: transparent;
  padding: 5px 10px;
  font-size: medium;
  border-radius: 10px;
  font-style: oblique;
}
.App {
  text-align: center;
  width: 400px;
  margin: 0px auto;
  background-color: #a9a9a9;
  box-shadow: 0px 5px 20px #999;
}
